doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Shivansh Fitness
  style 
        include gym.css
  link(rel='stylesheet' href='gym.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Pacifico&display=swap' rel='stylesheet')
background.left(<div='')
  img(src='image.jpg' width='65')
  br
  p Shivansh Fitness
  form.form(method='post')
    h1 Join Us Now
    input.input(type='text' placeholder='Enter Your Name' name = 'name')
    br
    input.input(type='number' placeholder='Enter Your Phone Number' name = 'num')
    br
    input.input(type='number' placeholder='Enter Your Age' name = 'age')
    br
    input.input(type='email' placeholder='Enter Your Email' name = 'email')
    br
    input.input(type='number' placeholder='Enter Your Weight' name = 'weight')
    br
    input.input(type='text' placeholder='Enter Your Address' name = 'address')
    br
    button.btn Submit
  // <marquee behavior="" direction="">First 30 registrations will get 3-days free trial</marquee>
  .center
    nav.navbar
      ul
        li
          a(href='https://www.google.co.in' target='_blank') Home
        li
          a(href='#' target='_blank') About
        li
          a(href='#' target='_blank') Membership
        li
          a(href='#' target='_blank') Fitness Calculator
        li
          a(href='#' target='_blank') Our Founder
  .right
    a(href='#')
      img#img1(src='callw.png' width='52' style='  margin-top: 1px;\
      margin-right: 19px;clear: both;')
    a(href='#')
      img#img2(src='envew.png' width='75' style='  margin-top: 12px;\
      margin-right: 12px;')
  //
    <aside>
    <h1 id="quote">"Master Your Mind<br> And You'll<br>Master Your Body"</h1>
    </aside>
